
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
    <h1 style="color:white;margin-left:20%">DataRack</h1>
    </li>
     </ul>
</nav>

<div class="row">
<a href= "/users/sign_up" class="large button expand">Sign Up</a>
</div>
<div class="row">
<a href="/users/sign_in" class="large button expand">Log in</a>
</div>


